* {
  box-sizing: border-box;
}

html {
  background: #121212;
  height: 100dvh;
}

body {
  background: #181a1b;
  color: rgba(255, 255, 255, 0.7);
  /* prevent margin collapse by adding vertical padding */
  padding: 1rem 1rem;
  /* clear default body 8px margin */
  margin: 0px;
  min-height: 100%; /* Make background flexible, but cover at least full height */
}

h1,
h2,
h3,
h4,
h5 {
  color: rgba(255, 255, 255, 0.87);
}

a {
  color: #4da6ff;
  text-decoration: none;
}

a:visited {
  color: #a58cff;
}

a:hover,
a:focus {
  color: #80caff;
  text-decoration: underline;
}

/* Make content centered so it is easier to read in wide screens */
@media (min-width: 768px) {
  body {
    max-width: 72rem;
    margin-inline: auto;
    padding-inline: 3rem;
  }
}
