body {
  background: #f9fafb;
  /* color: rgba(255, 255, 255, 0.7); */
  /* prevent margin collapse by adding vertical padding */
  padding: 1rem 1rem;
  /* clear default body 8px margin */
  margin: 0px auto;
  min-height: 100%; /* Make background flexible, but cover at least full height */
  width: 80%;
  max-width: 500px;
}

h1 {
  text-align: center;
}

.blog-post-card {
  background-color: white;
  padding: 0.5rem;
  width: 50%;
  min-width: 250px;
  border-radius: 5px;
  margin: 0px auto;
  text-align: center;
  color: #111827;
  box-shadow: 0px 0px 5px 2px darkblue;
}

.post-title {
  margin: 5px;
  color: #2563eb;
}

.post-content {
  padding: 10px;
}

.post-excerpt {
  margin: 5px;
  color: #374151;
}

.post-img {
  width: 100%;
  border-bottom: 3px solid black;
}

.read-more {
  background: #2563eb;
  border-radius: 5px;
  border: 1px gray solid;
  padding: 5px;
  width: 40%;
  margin: 10px auto;
  text-align: center;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.read-more:visited {
  color: #a58cff;
}

.read-more:hover {
  background: #1e40af;
  color: lightskyblue;
}
.read-more:focus {
  background: #1e40af;
}
.read-more:active {
  background: #1e40af;
}
