html {
  background-color: #f0f0f0;
}

.container {
  background: #fff;
  padding: 50px 1rem;
  /* clear default body 8px margin and 
  center block horizontally with margins */
  margin: 0px auto;
  width: 80%;
  max-width: 500px;
  /*  cover at least full height */
  min-height: 100%;
  min-height: calc(100vh - 100px);
}

main {
  width: 100%;
  margin: 0 auto;
}

section {
  /* Make them sit in same line, and account 
  for prettier adding new lines to src */
  width: calc(50% - 2px);
  display: inline-block;
}

h1 {
  text-align: center;
}


hr {
  width: 90%;
}

img {
  width: 75%;
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid black;
}
